__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/

checkpoints/
out/
logs/
runs/

*.pt
*.pth
*.bin
*.ckpt
*.safetensors

.env
venv/
env/
.conda/

dataset/*.jsonl
dataset/*.csv
dataset/*.parquet
dataset/*.txt
